
<!-- Positive/Negative panel block -->

<div class="row">

  <%= link_to negative_comments_url,  id: "get-all-negative" do  %>

      <div class="home-negative col-sm-5 col-md-5" id="home-negative">
        Отрицательные <span><%= @data[:negative_total_count] %></span>
      </div>

  <% end %>

  <div class="home-sorting col-sm-2 col-md-2">
    <span>Cортировка по:</span>
    <select id="sort_by_filter"  name="home-sort" class="home-sort">
      <%= options_for_select({ 'дате добавления'    => 'default',
                               'обсуждаемости'      => 'most_disputed',
                               'рейтингу'           => 'most_rated' },
                               session[:sorting].nil? ? 'default' : session[:sorting] ) %>
    </select>
  </div>

  <%= link_to positive_comments_url, id:'get-all-positive' do %>

      <div class="home-positive col-sm-5 col-md-5" id="home-positive">
        <span> <%= @data[:positive_total_count] %></span> Положительные
      </div>

  <% end %>

</div>

<!-- Positive/Negative panel END -->


<!-- SideBar(Catalogue) button block -->

<div class="catalogue" id="catalogue">
  <div id="rectangle"> <span onclick="openNav()" id="catalogue_action"> КАТАЛОГ </span></div>
  <div id="triangle-right"></div>
 </div>

<!-- SideBar(Catalogue) button END -->




<!-- CardsBlock -->

  <!-- Pagination block -->
  <div class="flickr_pagination" >
    <%= will_paginate @comments  %>
  </div>

  <div class="container">
    <div id="main-page-list-companies">
      <%= helper_draw_cards(@comments) %>
    </div>
  </div>

  <!-- Pagination block -->
  <div class="flickr_pagination" >
    <%= will_paginate @comments %>
  </div>  
<!-- CardsBlock END -->


<!-- JAVASCRIPT: Executes Visibility of Modals -->
<%= helper_execute_modals(@data) %>