<div class="col-md-8 col-md-offset-2">
  <div class="user-info">
    <div class="user-avatar">
      <%= image_tag current_user.avatar.url(:medium) %>
    </div>
    <div class="user-info-description">
      <%= form_for @user, url: registration_path(resource_name), html: { method: :put } do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :Полное.to_s+' Имя' %><br />
            <%= f.text_field :fullname, autofocus: true %>
            <%= render 'shared/field_errors', object: resource, field_name: :fullname %>
          </div>

          <div class="field">
            <%= f.label :Имя.to_s + ' в сети' %><br />
            <%= f.text_field :name %>
            <%= render 'shared/field_errors', object: resource, field_name: :name %>
          </div>

          <div class="field"><br />
            <%= f.label :Аватар %>
            <%= f.file_field :avatar %><br />
            <%= render 'shared/field_errors', object: resource, field_name: :avatar %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email %>
          </div>

          <div class="field">
            <%= f.label "Дата рождения", :class=>'singleline' %><br />
            <%= f.date_select :dob, {:include_blank => true, :default => nil, :start_year => 1950, :end_year => 2010 } %>
          </div>

          <div class="field">
            <%= f.label :Пол %><br />
            <%= f.collection_radio_buttons :gender_id, Gender.all, :id, :name do |m| %>
            <%= m.radio_button %> <%= m.label %>
          <% end %>
          </div>

          <div class="field">
            <%= f.label :Город %><br />
            <%= f.collection_select :city_id, City.all, :id, :name %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>
                <%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %>
              </p>
          <% end %>

          <div class="field">
            <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation %>
          </div>

          <div class="field">
            <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
            <%= f.password_field :current_password %>
          </div>

          <div><%= f.submit t('.update') %></div>
      <% end %>

      <h3><%= t('.cancel_my_account') %></h3>

      <p><%= t('.unhappy') %>? <%= link_to t('.cancel_my_account'), registration_path(current_user), data: { confirm: t('.are_you_sure') }, method: :delete %>.</p>

      <%= link_to t('devise.shared.links.back'), :back %>
    </div>
  </div>
</div>