<div>
  <div class="col-md-8 col-md-offset-2">
    <div class="user-info">
      <div class="user-avatar">
        <%= image_tag @user.avatar.url(:medium) %>
      </div>
      <div class="user-info-description">
        Полное имя: <%= @user.fullname.nil? ? 'не указан' : @user.fullname %><br/>
        Имя в системе: <%= @user.name %><br/>
        Возраст: <%= @user.dob.nil? ? 'не указан' : calculate_age(@user.dob) %><br/>
        Дата рождения: <%= @user.dob %><br/>
        Пол: <%= @user.gender.nil? ? 'не указан' : @user.gender.name %><br/>
        Электронная почта: <%= @user.email %><br/>
        Профили пользователя: <br/>
        Местоположения: <%= @user.city.nil? ? 'не указан' : @user.city.name %>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="users-chart">
      <div class="chart">
        <%= line_chart @variables[:user_activity].group_by_month(:created_at, format: "%b %Y").count,
                       xtitle: "Временной промежуток", ytitle: "К-во  отзывов" %>
      </div>
      <div class="pie">
        <%= pie_chart({"Положительные комментарии" => @variables[:positive_comment].count, "Отрицательные комментарии" => @variables[:negative_comment].count}) %>
      </div>
    </div>
  </div>
</div>



