<div class="company-card">
  <div class="company-card-upper">
    <div class="company-card-positive">
      <div class="company-card-like">
        <span><%= company.ucomments.where(topucomment_id: nil, positive: true).count %></span>
      </div>
      <div class="company-card-dislike">
        <span><%= company.ucomments.where(topucomment_id: nil, positive: false).count %></span>
      </div>
    </div>
    <div class="company-card-votes">

    </div>
  </div>
  <div>
    <div class="company-card-image">
      <%= image_tag company.image.url(:thumb) %>
    </div>
    <div class="company-card-info">
      <b><%= company.category.title %></b>
      <%= company.phones.split(';')*", " %><br/>
      <%= company.address %><br/>
      <%= link_to company.email %>
    </div>
  </div>
  <div class="company-card-bottom">
    <span class="mini_card_company_title"><%= link_to company.title.upcase, company_path(company) %></span>
    <span class="mini_card_company_review"><%= link_to "Все отзывы" %></span>
  </div>
</div>