<div class="modal" id="sign_up_modal">

  
  <div class="sign_up modal-body">
    
    <h4>Регистрация</h4>  
    
    <%= form_for(User.new, url: registration_path(:user), html:{id: 'sign_up_user', :'data-type' => 'json'}, remote: true) do |f| %>

       <div class="field">
          <span class="sign_up_name"> <%= f.label :name, "Имя пользователя:" %></span>
          <%= f.text_field :name, autofocus: true %>
          <%= render 'shared/field_errors', object: User.new, field_name: :name %>
      </div>

      <div class="field">
        <span class="sign_up_email"> <%= f.label :email, "Эл.почта :"  %></span>
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <span class="sign_up_password"><%= f.label :password, "Пароль :" %></span>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <span class="sign_up_password_confirm"><%= f.label :password_confirmation, "Подтвердите пароль :" %></span>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <div class="row">
            <button class="btn btn-primary col-xs-4" data-dismiss="modal">Отмена</button>
          
            <%= f.submit "Зарегистрировать", class: "btn btn-primary col-xs-6 col-xs-offset-2" %>
          
        </div>  
      </div>  
    <% end %>

  </div>

</div> 