<div id="ajax_new_reply_to_comment" class="add_reply_to_comment col-md-9">
  <%= form_for ucomment, html: {class: 'form-horizontal', multipart: true } do |f| %>
    <br>
    <div class="field">
      <%= f.label :anonymous, 'Анонимный' %> 
      <%= f.check_box :anonymous %>
    <div>
    <div class="field text-area">
      <%= f.label :body, "Ваш отзыв:" %><br>
      <%= f.cktext_area :body, class: 'form-control ckeditor', :ckeditor => { uiColor: '#AADC6E', :toolbar => 'mini', language: 'ru', startupFocus: true }, autofocus: true %>
    </div>

    <div class="add_reply_to_comment_attachment">
      <%= f.file_field :image_1 %>
      <%= f.file_field :image_2 %>
      <%= f.file_field :image_3 %>
     </div>

    <div class="field">
      <%= f.hidden_field :topucomment_id, :value => parentcomment.id %>
      <%= f.hidden_field :company_id, :value => parentcomment.company_id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>
    
    <div class="add_reply_to_comment_buttons">
      <% if params[:action] == 'new_reply' %>
        <%= f.submit "Добавить ответ", class:'btn btn-primary', id:"append_new_reply_btn", remote: true %>
        <%= button_tag "Зaкрыть", type: :button, class: "btn btn-primary", id: "subcomment_close_btn" %>
      <% else %>
        <%= f.submit "Обновить отзыв", class:'btn btn-primary', id:"update_comment_btn", remote: true %>
      <% end %>  
    </div>

  <% end %>
</div>

<script>
  CKEDITOR.replace('ucomment_body', {
      uiColor: '#AADC6E', 
      toolbar:'mini',
      language: 'ru',
      startupFocus : true,})
</script>