<%= form_for comment, html: {class: 'form-horizontal'} do |f| %>
    <br>
    <br>
    
    <div class="field text-area">
      <%= f.label :body %><br>
      <%= f.text_area :body, class: 'form-control' %>
    </div>

    <div>
      <%= f.label :id %><br>
      <%= f.text_field :id %>
    </div>

    <div class="field text-area">
      <%= f.label :rate, "Рейтинг " %><br>
      <%= f.text_field :rate, class: 'form-control' %>
    </div>

    <div>
      <%= link_to comment.user.name, user_path(comment.user) %>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <%= comment.created_at.strftime("%b %d, %Y %H:%M") %>
    </div>      

    <%= link_to 'Ответить', reply_to_comment_path(ucomment: comment), class: 'btn btn-primary', id: 'reply_to_comment', remote: true %>

    <% if comment.subucomments.present? %>
      <% comment.subucomments.each do |sub| %>
        <%= render 'show_reply', comment: sub %>
      <% end %>
    <% end %>    
<% end %>