<div class="col-md-12">

  <%= form_for comment, html: {class: 'form-horizontal'} do |f| %>
    <br>

    <div>
      <%= link_to comment.user.name, user_path(comment.user) %>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <%= comment.created_at.strftime("%b %d, %Y %H:%M") %>
    </div>   

  <div>
    <div>
      <%= image_tag comment.user.avatar.url(:thumb) %>
    </div>
   
    
    <div class="field text-area">
    <pre>
      <%= comment.body %>
    </pre>  
    </div>

    <div>
      id: <%= comment.id %>
    </div>

    <div class="subcomment_position">
      Position :<%= subcomment_position %>
    </div>
  </div>  
  <%
=begin %>
    <div class="field text-area">
      <%= f.label :rate, "Рейтинг " %><br>
      <%= f.text_field :rate, class: 'form-control' %>
    </div>

  <%
=end %>

    <%= link_to 'Ответить', reply_to_comment_path(ucomment: comment), class: 'btn btn-primary reply_to_comment', remote: true %>
    <%= link_to "Редактировать", edit_ucomment_path(comment), class: "btn btn-primary" %>
    <%= link_to 'Удалить', ucomment_path(ucomment: comment), class: 'btn btn-primary destroy_comment', method: :delete, data: {confirm: 'Вы точно хотите удалить?'} %>

    <% if comment.subucomments.present? %>
      <% subcomment_position >= 5 ? subcomment_position = 5 : subcomment_position += 1 %>
      <% comment.subucomments.each do |subcomment| %>
        <%= render partial: 'show_reply', :locals=> {comment: subcomment, subcomment_position: subcomment_position } %>
      <% end %>
    <% end %>

  <% end %>
</div>