<%= javascript_include_tag Ckeditor.cdn_url %>

<div class="col-md-12">
  <div class="col-md-9" id="comments_container" >
    <div id="comment_<%= @comment.id %>" >
      <div class="comment-show" >
        <div class="comment-show-user-logo" >
          <%= image_tag @comment.user.avatar.url(:thumb) %>
          
          <div>
            Ответов:<%= @total_subcomments %>
          </div>

        </div>

        <div class="comment-show-body<%= @comment.positive ? ' comment-positive' : ' comment-negative' %> " >
          <div class="comment-title">
            <%= @comment.title %>
          </div>

          <div class="comment-show-rating">
            <%= @comment.rate %>
            <%= @comment.positive %>
          </div>

          <div class="comment-show-text">
            <%= raw @comment.body %>
          </div>

          <div class="comment-show-buttons"> </div> 

          <div class="comment-show-user-info" >
            <%= link_to @comment.user.name, user_path(@comment.user.id) %>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <%= @comment.created_at.strftime("%b %d, %Y %H:%M") %>

            <%= link_to 'Ответить', reply_to_comment_path(ucomment: @comment), class: 'btn btn-primary reply_to_comment_btn', remote: true %>

            <%= link_to "Удалить", ucomment_path(ucomment: @comment), class: 'btn btn-primary', method: :delete, data: {confirm: 'Вы точно хотите удалить?'} %>
            <%= link_to "Редактировать", edit_ucomment_path(@comment), class: "btn btn-primary edit_comment_btn", remote: true %>
          </div>
        </div>
      </div>
    </div>

    <div id="comment-replies">
      <% @comment.subucomments.order(:created_at).each do |subcomment| %>
        <% subcomment_indent = 1 %>
        <%= render partial: 'show_subcomment', :locals=> {subcomment: subcomment, subcomment_indent: subcomment_indent} %>
        <% end %>
    </div>
  </div>

  <div class="col-md-3 advertisement">
    <img src="https://s-media-cache-ak0.pinimg.com/originals/dd/24/8f/dd248f6d8cc95ea36ba763700ade4501.jpg" alt="advertisement">
  </div>

</div>