<%= render 'negative_positive_tabs' %>

<div class="catalogue" id="catalogue">
  <div id="rectangle"> <span onclick="openNav()" id="catalogue_action"> КАТАЛОГ </span></div>
  <div id="triangle-right"></div>
 </div>

<div class="container">

<% unless current_user.nil? %>
  <%= link_to 'Создать коммент', new_ucomment_path, class: 'btn btn-primary' %>
<% end %>
<% @companies.each do |company| %>
  <% company.ucomments.each do |comment| %><br />
    <div class="main-page-comment-company">
      <div class="comment-main">
        <div class="comment-user-logo">
          <%= image_tag comment.user.avatar.url(:thumb) %>
        </div>
        <div class="comment-body<%= comment.positive ? ' comment-positive' : ' comment-negative' %> " >
          <div class="comment-title">
            <%= comment.title %>
          </div>
          <div class="comment-rating">
            <%= comment.rate %>
            <%= comment.positive %>
          </div>
          <div class="comment-text">
            <%= comment.body %>
          </div>
          <div class="comment-buttons">

          </div>
          <div class="comment-user-info">
            <%= link_to comment.user.name, user_path(comment.user) %>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <%= comment.created_at.strftime("%b %d, %Y %H:%M") %>

            <%= link_to 'Подробнее', ucomment_path(comment), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

      <%= render 'mini_company_card', company: company %>

    </div>
  <% end %>
<% end %>