  <div class="row">
    <div class="home-negative col-sm-5 col-md-5">
      Отрицательные
    </div>
    <div class="home-sorting col-sm-2 col-md-2">
      <span>Cортировка</span>
      <select name="home-sort" class="home-sort">
        <option value=""></option>
        <option value="1" selected="selected">По алфавиту</option>
        <option value="2">По обсуждаемости</option>
        <option value="3">По рейтингу</option>
      </select>
    </div>

    <div class="home-positive col-sm-5 col-md-5">
      Положительные
    </div>
  </div>
</div>

<div class="catalogue" id="catalogue">
  <div id="rectangle"> <span onclick="openNav()" id="catalogue_action"> КАТАЛОГ </span></div>
  <div id="triangle-right"></div>
 </div>

<div class="container">
<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>


<% @users.each do |user| %>
    <%= user.name %>
      <% if user.role == nil %>
      <% else %>
        <%= user.role.name %>
      <% end  %>
    <%= user.email %>
      <% if user.dob == nil %>
        <%= p 'укажите возраст' %>
      <% else %>
        <%= calculate_age(user.dob) %>
      <% end %>
    <% if user.gender == nil %>
        <%= p 'укажите пол' %>
    <% else %>
      <%= user.gender.name %>
    <% end %>
    <% if user.city == nil %>
      <% p 'укажите город' %>
    <% else %>
      <%= user.city.name %>
    <% end %>
    <%= image_tag user.avatar.url(:thumb) %>
<% end %>