  <div class="row">
    <div class="home-negative col-sm-5 col-md-5">
      Отрицательные <span><%= Ucomment.where(positive: false).count %></span>
    </div>
    <div class="home-sorting col-sm-2 col-md-2">
      <span>Cортировка</span>
      <select name="home-sort" class="home-sort">
        <option value=""></option>
        <option value="1" selected="selected">По алфавиту</option>
        <option value="2">По обсуждаемости</option>
        <option value="3">По рейтингу</option>
      </select>
    </div>

    <div class="home-positive col-sm-5 col-md-5">
      <span> <%= Ucomment.where(positive: true).count %></span> Положительные
    </div>
  </div>
</div>

<div class="catalogue" id="catalogue">
  <div id="rectangle"> <span onclick="openNav()" id="catalogue_action"> КАТАЛОГ </span></div>
  <div id="triangle-right"></div>
 </div>

<div class="container">

<% unless current_user.nil? %>
  <%= link_to 'Создать коммент', new_ucomment_path, class: 'btn btn-primary' %>
<% end %>
<% @companies.each do |company| %>
  <% company.ucomments.each do |comment| %><br />
    <div class="main-page-comment-company">
      <div class="comment-main">
        <div class="comment-user-logo">
          <%= image_tag comment.user.avatar.url(:thumb) %>
        </div>
        <div class="comment-body<%= comment.positive ? ' comment-positive' : ' comment-negative' %> " >
          <div class="comment-title">
            <%= comment.title %>
          </div>
          <div class="comment-rating">
            <%= comment.rate %>
            <%= comment.positive %>
          </div>
          <div class="comment-text">
            <%= comment.body %>
          </div>
          <div class="comment-buttons">

          </div>
          <div class="comment-user-info">
            <%= link_to comment.user.name, user_path(comment.user) %>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <%= comment.created_at.strftime("%b %d, %Y %H:%M") %>

            <%= link_to 'Подробнее', ucomment_path(comment), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="company-card">
        <div class="company-card-upper">
          <div class="company-card-positive">
            <div class="company-card-like">
              <span><%= company.ucomments.where(positive: true).count %></span>
            </div>
            <div class="company-card-dislike">
              <span><%= company.ucomments.where(positive: false).count %></span>
            </div>
          </div>
          <div class="company-card-votes">

          </div>
        </div>
        <div>
          <div class="company-card-image">
            <%= image_tag company.image.url(:thumb) %>
          </div>
          <div class="company-card-info">
            <b><%= company.category.title %></b>
            <%= company.phones.split(';')*", " %>
            <%= company.address %>
            <%= link_to company.email %>
          </div>
        </div>
        <div class="company-card-bottom">
          <b><%= link_to company.title, company_path(company) %></b>
        </div>
      </div>
    </div>
  <% end %>
<% end %>