<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<% @users.each do |user| %>
  <%= user.name %>
  <%= user.email %>
  <%= user.dob %>
    <% if user.sex.nil? %>
        N/A
    <% else %>
        <%=  user.sex ? 'male' : 'female' %>
    <% end %>
  <%= image_tag user.avatar.url(:thumb) %>
<% end %>