<%= form_for @company do |f| %>

<div class="col-md-12 show-company-card">
  <div class="col-md-6 col-sm-6">
    <%= f.label :image, class: 'control-label' %><br />
    <%= image_tag @company.image.url(:medium) %>
    <%= f.file_field :image %>
    
  </div>
  <div class="col-md-6 col-sm-6 show-company-details">
    <%= f.label :title, "Наименование: "%>
    <%= f.text_field :title %><br />
    <%= f.label :registration_year, "Начало деятельности: " %>
    <%= f.text_field :registration_year %><br />
    <%= f.label :top_category_id, "Категория" %>
    <% unless @company.category.nil? %>
        <%= f.collection_select :category_id, Category.where(topcategory_id: nil), :id, :title, {:include_blank => 'выберите Категорию', :selected => @company.category.topcategory_id}, {:id => 'top_category_id'} %><br />
        <%= f.label :category_id, "Подкатегория"%>
        <%= f.collection_select :category_id, Category.where(topcategory_id: @company.category.topcategory_id), :id, :title, {:include_blank => 'выберите подкатегорию', :selected => @company.category.id}, {:id => 'sub_category_id'} %><br />
    <% else %>
        <%= f.collection_select :category_id, Category.where(topcategory_id: nil), :id, :title, {:include_blank => 'выберите Категорию'}, {:id => 'top_category_id'} %><br />
        <%= f.label :category_id, "Подкатегория"%>
        <%= f.collection_select :category_id, Category.where(topcategory_id: nil), :id, :title, {:include_blank => 'выберите подкатегорию'}, {:id => 'sub_category_id'} %><br />
    <% end %>
    <%= f.label :city_id, "Город: " %>
    <%= f.collection_select :city_id, City.all, :id, :name %><br />
    <%= f.label :address, "Адрес: " %>
    <%= f.text_field :address %><br />
    <%= f.label :phones, "Телефоны: " %>
    <%= f.text_field :phones %><br />
    <%= f.label :working_hours, "Режим работы:" %>
    <%= f.text_field :working_hours %><br />
    <%= f.label :email %>
    <%= f.email_field :email %><br />
    <%= f.label :website %>
    <%= f.text_field :website %><br />
    <%= f.submit %>
   
</div>

<% end %>