<%= form_for @company do |f| %>
<div class="company-card">
  <div class="company-card-upper">
    <div class="company-card-positive">

    </div>
    <div class="company-card-votes">

    </div>
  </div>
  <div class="company-card-info">
    <div class="company-card-image">
      <%= f.label :image, class: 'control-label' %>
      <%= f.file_field :image %>
      <%= image_tag @company.image.url(:thumb) %>
    </div>
    <div class="company-card-info">
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, Category.all, :id, :title %>
      <%= f.label :phones %>
      <%= f.text_field :phones %>
      <%= f.label :address %>
      <%= f.text_field :address %> 
      <%= f.label :email %>
      <%= f.email_field :email %>
    
    </div>
  </div>
  <div class="company-card-bottom">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
</div>
<% end %>
