<div class="col-md-12 show-company-card">
	<div class="col-md-6 col-sm-6">
		<%= image_tag @company.image.url(:medium), class: "show-company-logo" %>
	</div>
	<div class="col-md-6 col-sm-6 show-company-details">
		<span> Наименование: </span> <%= @company.title %> <br />
		<span>Рейтинг: </span><br />
		<span>Начало деятельности: </span><%= @company.registration_year %><br />
		<span>Вид деятельности:</span> <%= @company.category.title %> <br />
		<span>Адрес: </span> <%= @company.city.name + ", " + @company.address %> <br />
		<span>Телефон: </span> <%= @company.phones %> <br />
		<span>Режим работы: </span> <%= @company.working_hours %><br />
		<span>website: </span> <%= link_to @company.website, "http://#{@company.website}", target: "_blank" %> <br />
		<span>email: </span> <%= mail_to @company.email %> <br />
	</div>
</div>

<div class="col-md-12 show-company-charts">
    <div class="col-md-6 col-sm-6">
      <div class="company-column-chart">
	      <div class="chart">
          <%= column_chart @company.ucomments.group_by_day_of_week(:created_at, format: "%a").count, xtitle: "Временной промежуток", ytitle: "К-во  отзывов" %>
	      </div>
	  </div>    
    </div>

    <div class="col-md-6 col-sm-6">  
      <div class="company-pie-chart">	
	      <div class="pie">
	        <%= pie_chart({"Положительные" => @variables[:positive_comment].count, "Отрицательные" => @variables[:negative_comment].count}) %>
	      </div>
	  </div>    
    </div>
</div>

<div class="col-md-12 show-company-map-desc">
	<div class="col-md-6 col-sm-6" id="map-container">
    <style>
      #map {
        height: 400px;
        width: 100%;
      }
    </style>
      <div id="map">
        <script>
          function initMap() {
            var uluru = {lat: 42.87, lng: 74.59};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 12,
              center: uluru
            });
//            var marker = new google.maps.Marker({
//              position: uluru,
//              map: map
//            });
          }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALHnDxHcBNzK5byYmkfhZD3XJNvlxX30c&callback=initMap">
        </script>
      </div>
  </div>

    <div class="col-md-6 col-sm-6">
      <div class="company-description">
	      <%= @company.description %>
	  </div>   
    </div>
</div>