<!DOCTYPE html>
<html>
<head>
  <title>Esdp20161</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/application/messages' %>
 	<%= render 'layouts/application/navbar' %>
 	<%= render 'shared/sign_in' %>
 	<%= render 'shared/sign_up' %>

  	

	<div class="container-fluid">
	
	  <%= yield %>
	</div>

</body>
</html>
