<!DOCTYPE html>
<html>

<head>
  <title>IMHO</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!-- DDF -->
  <% @js_files.each do |js_file| %>
    <%= javascript_include_tag js_file %>
  <% end %>
  <!-- DDF -->
  <%= csrf_meta_tags %>
</head>

<body>

  <!-- Flash block -->

  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <ul>
            <li>
                <%= value %>
              </li>
        </ul>
      </div>
  <% end %>

  <!-- END Flash block -->

  <div class="add-comment-button">
    <%= link_to image_tag('add-comment.png', class: 'add-comment-image'), new_ucomment_path %>
  </div>
  <!-- NavBar block -->

  <nav class="navbar navbar-inverse">


    <div class="container-fluid">
      <div class="navbar-header">
          <%= link_to image_tag('logo.png', class: 'logo-image'), root_path %>
      </div>
      <div class="navbar-header search-div">
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-addon search-button-addon search-class">
              <img src="/images/search.png" class="search-button-image search-class">
          </span>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav col-md-4">
          <% if params[:controller] == 'companies' %>
            <div class="nav-comp-card">
              <div class="nav-comp-info">
                <div class="nav-comp-img">
                  <%= image_tag @company.image.url(:thumb) %>
                </div>
              </div>
              <div class="nav-comp-rating">

              </div>
            </div>
          <% else %>
            <div>
              <!-- <span> Узнайте правду! </span> -->
            </div>
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
              <p class="navbar-text">
                Привет, <%= link_to current_user.name, edit_profile_path, class: 'navbar-link' %>
              </p>

              <ul class="nav navbar-nav">
                <li>
                  <div class="menu_avatar_block"><%= link_to image_tag(current_user.avatar.url(:thumb), class: "menu_user_avatar"), profile_path(current_user)%>
                  </div>
                </li>

                <li class="dropdown">
                  <div class="menu_avatar_dropdown_block">
                    <a class="dropdow-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'Редактирование профиля', edit_profile_path %></li>
                      <li class="divider"></li>
                      <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></li>
                    </ul>
                  </div>
                </li>
              </ul>

          <% else %>
              <%= link_to 'Войти', "#sign_in", "data-toggle" => "modal", 'data-target' => '#sign_in_modal', class: 'btn btn-primary navbar-btn' %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <!-- NavBar END -->


  <!-- SignIn block -->

  <div class="modal" id="sign_in_modal" >
    <div class="sign_in">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{id: 'sign_in_user', 'data-type' => 'json'}) do |f| %>

          <div class="field">
            <span class="sign_in_email"><%= f.label :email, "Эл.почта :" %></span>
            <%= f.email_field :email, autofocus: true, class: "sign_in_email_field"  %>
          </div>

          <div class="field">
            <span class="sign_in_password"><%= f.label :password, "Пароль :"%></span>
            <%= f.password_field :password, autocomplete: "off", class: "sign_in_password_field" %>
          </div>

          <div class="field sign_in_enter">
            <%= link_to "Забыли пароль?", "#recovery", "data-toggle" => "modal", 'data-target' => '#recovery_modal', 'data-dismiss' => 'modal' %>
            <div class="actions">
              <%= f.submit "Вход", class: "btn btn-primary" %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
              <div class="field sign_in_rememberme">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
          <% end %>

      <% end %>

      <div class="field sign_in_with">
        <span>Войти с помощью</span>
      </div>

      <div class="sign_in_with_social_icons">
        <%= link_to image_tag("socialnetwork/vk.png", size: "48x48"), user_vkontakte_omniauth_authorize_path %>
        <%= link_to image_tag("socialnetwork/ok.png", size: '48x48'), user_odnoklassniki_omniauth_authorize_path %>
        <%= link_to image_tag("socialnetwork/twitter.png", size: '48x48'), user_twitter_omniauth_authorize_path %>
        <%= link_to image_tag("socialnetwork/google.png", size: '48x48'), user_google_oauth2_omniauth_authorize_path %>
        <%= link_to image_tag("socialnetwork/facebook.png", size: '48x48'), user_facebook_omniauth_authorize_path %>
        <%= link_to image_tag("socialnetwork/mailru.png", size: '48x48'), user_mailru_omniauth_authorize_path %>
      </div>

      <div class="actions">
        <div class="row">
          <div class="col-xs-1"></div>
          <button class="btn btn-primary col-xs-4" data-dismiss="modal">Отмена</button>
          <div class="col-xs-2"></div>
          <%= link_to "Регистрация", "#sign_up", "data-toggle" => "modal", 'data-target' => '#sign_up_modal', 'data-dismiss' => 'modal', class: "btn btn-primary col-xs-4" %>
          <div class="col-xs-1"></div>
        </div>
      </div>

    </div>
  </div>

  <!-- SignIn END -->


  <!-- SignUp block -->

  <div class="modal" id="sign_up_modal">


    <div class="sign_up">

      <h4>Регистрация</h4>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <div class="field">
            <span class="sign_up_name"> <%= f.label :name, "Имя пользователя:" %></span>
            <%= f.text_field :name, autofocus: true %>
            <%= render 'shared/error_msg', object: resource, field_name: :name %>
          </div>

          <div class="field">
            <span class="sign_up_email"> <%= f.label :email, "Эл.почта :"  %></span>
            <%= f.email_field :email %>
          </div>

          <div class="field">
            <span class="sign_up_password"><%= f.label :password, "Пароль :" %></span>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <span class="sign_up_password_confirm"><%= f.label :password_confirmation, "Подтвердите пароль :" %></span>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions">
            <div class="row">
              <button class="btn btn-primary col-xs-4" data-dismiss="modal">Отмена</button>

              <%= f.submit "Зарегистрировать", class: "btn btn-primary col-xs-6 col-xs-offset-2" %>

            </div>
          </div>
      <% end %>

    </div>

  </div>

  <!-- SignUp END -->


  <!-- RecoveryPasswordEmail block -->

  <div class="modal" id="recovery_modal">


    <div class="sign_up">

      <h4>Восстановление пароля</h4>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post }) do |f| %>

            <div class="field">
              <span class="sign_up_name"> <%= f.label :email, "Ваш e-mail:" %></span>
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="actions">
              <button class="btn btn-primary col-xs-4" data-dismiss="modal">Отмена</button>
              <%= f.submit "Отправить инструкцию", class: "btn btn-primary col-xs-6 col-xs-offset-2" %>
            </div>
        <% end %>
    </div>

  </div>

  <!-- RecoveryPasswordEmail END -->

  <!-- RecoveryEditNewPassword block -->
  <% if @data && (@data[:modal]=='recovery_new_password') %>
  <div class="modal" id="recovery_new_password_modal">


    <div class="sign_up">

      <h4>Измените ваш пароль</h4>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>
          <div class="field">
            <span class="sign_up_name"> <%= f.label :password, "Новый пароль:" %></span>
            <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
          </div>

          <div class="field">
            <span class="sign_up_name"> <%= f.label :password_confirmation, "Подтверждение:" %></span>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>


          <div class="actions">
            <button class="btn btn-primary col-xs-4" data-dismiss="modal">Отмена</button>
            <%= f.submit "Изменить пароль", class: "btn btn-primary col-xs-6 col-xs-offset-2" %>
          </div>
      <% end %>
    </div>

  </div>
  <% end %>

  <!-- RecoveryEditNewPassword END -->


  <!-- SideBar(Catalogue) block -->

  <div id="mySidenav" class="sidenav">
    <nav class="navmenu navmenu-inverse" role="navigation">

      <ul class="nav navmenu-nav">

        <%= helper_draw_categories(@categories) %>

      </ul>
    </nav>
  </div>

  <!-- SideBar(Catalogue) END -->

  <!-- SHARE POPUP block -->

    <div id="share_popup" class="share-popup">

    </div>

  <!-- SHARE POPUP END -->


  <!-- BODY block -->

	<div class="container-fluid">
	
	  <%= yield %>

	</div>

  <!-- BODY END -->




  <!-- FOOTER block -->

  <!-- FOOTER END -->
<script type="text/javascript">
  if (window.location.hash == '#_=_'){
  history.replaceState
  ? history.replaceState(null, null, window.location.href.split('#')[0])
  : window.location.hash = '';
  }
  </script>

</body>

</html>
